{% extends "base.html" %} {% block content %}

<div>
  <form method="POST" action="">
    {% csrf_token %}
    <h3>Add training to your plan</h3>
    <div>
      <label> Enter name of plan</label>
      <input required name="name" list="plan-list">
      <datalist id="plan-list">
        {% for plan in plans %}
        <option>{{plan.name}}</option>
        {% endfor %}
      </datalist>
    </div>
    <div>
      <label> Enter training, which you want to add</label>
      <input required name="training" list="training-list">
      <datalist id="training-list">
        {% for training in trainings %}
        <option>{{training}}</option>
        {% endfor %}
      </datalist>
    </div>

    <input type="submit" value="Submit" />
  </form>
</div>
{% endblock %}
