{% extends "base.html" %} {% block content %}
<div>
  <h2>Plans</h2>
  <h4>Create plans with your trainings</h4>
  <a href="{% url 'create-plan' %}">Create plan</a>
  <br />
  <a href="{% url 'add-training-to-plan' %}">Add training to plan </a>
  <div>
    {% for plan_name in plan_names %}
    <div>
      <hr />
      <h3>PLAN -- {{plan_name.name}}</h3>
      <a href="{% url 'update-plan' plan_name.id %}">Edit plan</a>
      <a href="{% url 'delete-plan' plan_name.id %}">Delete plan</a>

      <div>
        {% for plan in plans %} {% if plan.name.id == plan_name.id %}
        <hr>
        <h4>training -- {{ plan.training }}</h4>
        <a href="{% url 'delete-training-from-plan' plan.id %}"
          >Delete training</a
        >
        <br />
        <a href="{% url 'training' plan.training.id %}"
          >Go to the training results page
        </a>
        <div class="training-exercises">
          {% for tr_main in trainings %}
          <div>
            <h5>Exercise -- {{tr_main.exercise}}</h5>
            <div></div>
            <div>
              <p>Series -- {{tr_main.series}}</p>
              <p>Reps -- {{tr_main.reps}}</p>
              <p>Tempo -- {{tr_main.tempo}}</p>
              <p>RIR -- {{tr_main.rir}}</p>
              <p>Rest -- {{tr_main.rest}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>

    {% endfor %} {% endblock %}
  </div>
</div>
