{% extends "base.html" %} {% block content %}

<form method="get" action="{% url 'training' %}">
  <input type="text" placeholder="Search training..." name="q" />
</form>

<div>
  <div>
    <h2>Trainings</h2>
    <a href="{% url 'create-training' %}">Create training / add exercise</a>
  </div>

  <div>
    {% for tr_name in trainings_name %}
    <div>
      <hr />
      <h3>{{tr_name.name}}</h3>

      <div class="training-links">
        <div class="training-update-delete">
          <div class="training-update">
            <a href="{% url 'update-training' tr_name.id %}">Edit training</a>
          </div>

          <div class="training-delete">
            <a href="{% url 'delete-training' tr_name.id %}">Delete training</a>
          </div>
        </div>

        <div class="training-results">
          <a href="{% url 'training' tr_name.id %}"
            >Go to the training values page
          </a>
        </div>
      </div>
      <hr />
      <div class="training-exercises">
        {% for tr_main in trainings_main %} 
        {% if tr_main.name.id == tr_name.id %}
        <div class="training-exercise">
          <h5>Exercise -- {{tr_main.exercise}}</h5>
          <div class="training-exercise-update">
            <a href="{% url 'update-exercise' tr_main.id %}">Edit</a>
          </div>

          <div class="training-exercise-delete">
            <a href="{% url 'delete-exercise' tr_main.id %}">Delete </a>
          </div>

          <div>
            <p>
              Series -- {% if tr_main.series == None %} {% else %}
              {{tr_main.series}} {% endif %}
            </p>
            <p>Reps -- {{tr_main.reps}}</p>
            <p>Tempo -- {{tr_main.tempo}}</p>
            <p>RIR -- {{tr_main.rir}}</p>
            <p>Rest -- {{tr_main.rest}}</p>
          </div>
          <div></div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
